*{
    margin: 0;
    padding: 0;
}

.accent-color{
    color: #FF0000;
    font-family: Montserrat;
}

.header-navbar{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-navbar-item{
    margin: auto 72px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.main-img{
    width: 100%;
}

.main-title{
    text-transform: uppercase;
    font-family: Montserrat;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 38px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3.3px;
}

.main-content{
    font-family: Montserrat;
    text-align: center;
    margin-bottom: 66px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main-btn{
    text-transform: uppercase;
    margin-bottom: 99px;
    margin-left: 45%;
    padding: 18px 43px;
    background-color: #FF0000;
    color: white;
    border: 0px;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-weight: 700;
}

.footer-content{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 100px;
}